@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --font-merriweather: "Merriweather", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-lexend: "Lexend", "sans-serif";
  --font-worksans: "Work Sans", "sans-serif";
  --font-playfair: "Playfair Display", "sans-serif";
}